/* UNIVERSAL RESET */

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}




/* Google Fonts - API 

.montserrat-<uniquifier> {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

*/